doctype 5
html
	head
		title= title
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		//-HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//-WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
		//endif
	body
		.container
			block content
		script(src='https://code.jquery.com/jquery.js')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		script(src='/flot/jquery.flot.js')
		script(src='/flot/jquery.flot.time.js')
		script
			$(document).ready(function() {
				var options = {
					xaxis: {
						mode:         "time",
						format: "%d.%m.Y %H:%M"                                
					},
					yaxis: {
						tickFormatter: function(value) {
							return value.toFixed(1) + ' C&deg;';
						}
					},
					grid: {
						hoverable: true,
						clickable: true,
					},
					tooltip: true,
					tooltipOpts: {
						content: "%y"
					}
				};
				//Day
				var dataDay = [{
					color: "rgb(212,62, 48)",
					data: "#{data.valuesLast24Hours.points}"
				}];
				console.log(JSON.parse(dataDay[0].data));
				$.plot($("#day"), dataDay, options);
				//Week
				var dataWeek = [{
					color: "rgb(212,62, 48)",
					data: "#{data.valuesLastWeek.points}"
				}];
				$.plot($("#week"), dataWeek, options);
				//Month
				var dataMonth = [{
					color: "rgb(212,62, 48)",
					data: "#{data.valuesLastMonth.points}"
				}];
				$.plot($("#month"), dataMonth, options);
			});